[Unit]
Description=ether miner
Requires=network.target
After=syslog.target network.target

[Service]
ExecStart=/bin/bash /home/moe/Desktop/claymore_ether/start.bash &

[Install]
WantedBy=multi-user.target
